
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<!-- [ Form ] Start -->
<form method="post" class="card">
    <div class="p-4 p-sm-5">
        <!-- [ Logo ] Start -->
        <div class="d-flex justify-content-center align-items-center pb-2 mb-4">
            <div class="ui-w-60">
                <div class="w-100 position-relative">
                    <img src="~/img/logo-dark.png" alt="Brand Logo" class="img-fluid">
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- [ Logo ] End -->

        @if (!string.IsNullOrEmpty(ViewBag.Info))
        {
            <div class="alert alert-success alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert">×</button>
                @ViewBag.Info
            </div>

            <div class="form-group">
                <input name="email" type="email" class="form-control" placeholder="receiver email" required value="@ViewBag.Email" readonly disabled>
                <div class="clearfix"></div>
            </div>

            <!--<button type="submit" class="btn btn-primary btn-block">Resend Email</button>-->
            <a asp-controller="Accounts"
               asp-action="ForgotPassword"
               asp-route-email="@ViewBag.Email" style="float: right; font-weight: bold; color: rgba(240, 73, 35, 0.8);">Resend Email</a>
            <!--<a asp-controller="Accounts" asp-action="ResetForgotPassword" asp-route-email="@ViewBag.Email" class="btn btn-round btn-block btn-success mt-3">I Have Code</a>-->
        }
        else
        {
            @if (!string.IsNullOrEmpty(ViewBag.Msg))
            {
                <span class="text-danger">@ViewBag.Msg</span>
            }

            <h5 class="text-center text-muted font-weight-normal mb-4">Reset Your Password</h5>
            <hr class="mt-0 mb-4">
            <p>Enter your email address and we will send you a link to reset your password.</p>
            <div class="form-group">
                <input name="email" type="email" class="form-control" placeholder="Enter your email address" required>
                <div class="clearfix"></div>
            </div>

            <button type="submit" class="btn btn-primary btn-block">Send password reset email</button>
        }

    </div>
</form>
<!-- [ Form ] End -->
